# ===============================
# .NET / Backend
# ===============================
bin/
obj/
*.db*

# ===============================
# Node / Frontend
# ===============================
node_modules/
dist/
build/

# ===============================
# Rider / JetBrains
# ===============================
.idea/